<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle:</strong>
  <%= @addtaxi.Vehicle %>
</p>

<p>
  <strong>Taxi:</strong>
  <%= @addtaxi.Taxi %>
</p>

<p>
  <strong>Holdername:</strong>
  <%= @addtaxi.Holdername %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @addtaxi.Registration %>
</p>

<p>
  <strong>Number:</strong>
  <%= @addtaxi.number %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @addtaxi.Phone %>
</p>

<p>
  <strong>Number:</strong>
  <%= @addtaxi.number %>
</p>

<%= link_to 'Edit', edit_addtaxi_path(@addtaxi) %> |
<%= link_to 'Back', addtaxis_path %>
