<%= form_with(model: add_taxi) do |form| %>
  <% if add_taxi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(add_taxi.errors.count, "error") %> prohibited this add_taxi from being saved:</h2>

      <ul>
        <% add_taxi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field from-group">
    <%= form.label :Vehicle %>
    <%= form.text_field :Vehicle, class:"form-control" %>
  </div>

  <div class="field  from-group">
    <%= form.label :TaxiHoldername %>
    <%= form.text_field :TaxiHoldername, class:"form-control" %>
  </div>

  <div class="field from-group">
    <%= form.label :Registrationnumber %>
    <%= form.text_field :Registrationnumber, class:"form-control" %>
  </div>

  <div class="field  from-group">
    <%= form.label :Phonenumber %>
    <%= form.text_field :Phonenumber, class:"form-control" %>
  </div>

</br>
  <div class="actions">
    <%= form.submit class:"btn btn-info" %>
  </div>
<% end %>
